body {
    background-color: rgb(59, 118, 133);
    padding-left: 5em;
    font-family: Georgia, "Times New Roman",
        Times, serif;
    color: black;
    font-size: 14;
}

h1 {
    color: rgb(128, 0, 96);
    font-size: 15;
    text-align: center;
    text-decoration: none;
}

h2 {
	color: rgb(0, 0, 0);
    font-size: 15;
    text-align: center;
}

h1:link {
    color: rgb(0, 29, 110);
    text-decoration: none;
}

h1:visited {
    color: rgb(1, 1, 41);
    text-decoration: none;
}

h1:hover {
    color: rgb(111, 168, 5);
    text-decoration: none;
}

h1:active {
    color: rgb(209, 9, 9);
    text-decoration: none;
}

input[type=submit]:hover {
    /* color: rgb(111, 168, 5);
    text-decoration: none; */
    background: greenyellow;
}

input[type=submit]:active {
    color: rgb(209, 9, 9);
    text-decoration: none;
}


input[type=submit] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}

input[type=reset]:hover {
    /* color: rgb(111, 168, 5);
    text-decoration: none; */
    background: blue;
}

input[type=reset]:active {
    color: rgb(209, 9, 9);
    text-decoration: none;
}
input[type=reset] {
    padding:5px 15px; 
    background:#ccc; 
    border:0 none;
    cursor:pointer;
    -webkit-border-radius: 5px;
    border-radius: 5px; 
}